*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;;
}

.nav {
  display: flex;
  align-items: center;
  width: 550px;
  height: 70px;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

.hero--container {
  width: 550px;
}

.hero--image {
  display: block;
  margin: 26px auto;
  height: 232px;
}

.hero--text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-block: 32px;
  margin-inline: 36px;
}

.hero--text > h1 {
  font-size: 36px;
  font-weight: 600;
}

.hero--text > h3 {
  font-size: 16px;
  font-weight: 300;
  line-height: 110%;
  max-width: 320px;
  margin-block: 8px;
}